{erl_opts, [debug_info]}.

{minimum_otp_vsn, "20"}.

{plugins, [
    rebar3_hex
]}.

{deps, []}.

% {alias, [
%     {'hex docs', [xref, dialyzer, edoc,
%              {proper, "--regressions"},
%              {proper, "-c"}, {ct, "-c"}, {cover, "-v --min_coverage=80"}]}
% ]}.

% Export all functions for unit testing
{eunit_compile_opts, [export_all]}.


% Documentation
{edoc_opts, [
  {title, "Erlxml"},
  {doclet, edoc_modern},
  {layout, edoc_modern_layout}
]}.

{profiles, [
  {docs, [      
    % Export all functions for unit testing
    {src_dirs, ["src", "doc"]}
  ]}
]}.


{relx, [
    {release, {erlxml, "1.0.0"}, [erlxml]},    
    {overlay, []},
    {extended_start_script, true}
]}.


